
//------------Home.section------------------//




.banner{
    background:$clr-black;
    padding-bottom: 4rem ;
    padding-top: 4rem;
   

    &__wrapper{

        display: flex;
    align-items: center;
    }

    &__logo{
     
  img{

   gap: 100rem;
  }
      
  
    }

    img{
      
      margin-bottom: 7rem;
    
   
      }

      h1{
        color: $clr-white;
        margin-bottom: 1rem;
      
      }

      p{
       color: $clr-gray;
       margin-bottom: 2rem;

      }

      a{

     
       
       
     color: $clr-white;
     text-decoration: none;
     background:$clr-green;
    
     padding: 0.8rem 4rem;
     display: inline-block;
     border-radius: 0rem;
     border: 1px solid #62BA1B;
     text-transform: uppercase;
     color: $clr-black;
     box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
     &:hover{

      background-color: $clr-blue;
      border: 1px solid #2AB090;
      box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
     }
      }

      &__content{
        
        margin-bottom: 5rem;
      }


      &__logo{

        color: $clr-white;

      
        img{
            margin-top: 5rem;
           margin-left: -4;
        }
      }

      .container{
        h5{
          color: $clr-gray;
        margin-bottom: -5rem;
        margin-left: 4rem;
        }
      }
    

}

.services{
    background:$clr-black;
    padding: 6rem 0;
    
    
         &__wrapper{
       text-align: center;

       h1{

        color: $clr-primary;
       }

       p{
        color: $clr-primary;
        
       }

         }

         &__icon{

            margin-left: 14rem;
            display: flex;
           margin-top: 5rem;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 3rem;
       
           img{

            &:hover{

              color: $clr-yellow;
            }
           }
        
         }

}

.aboutme{
     background: $clr-black;
    padding: 4rem 0;

    .container{

        h1{

            margin-bottom: 8rem;
            text-align: center;
            color: $clr-primary;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;


        img{

            width: 23rem;
            margin-top: -2rem;
        }
    }

    &__content{

        h4{

            color: $clr-yellow;
            margin-bottom: 1rem;
        }

        p{

            color: $clr-white;
            margin-bottom: 2rem;
        }

        a{
            
            
            text-decoration: none;
            background:$clr-green;
            padding: 0.8rem 2rem;
            display: inline-block;
            border-radius: 0rem;
           
            color: $clr-black;
            margin-left: 26rem;
            border: 1px solid #62BA1B;
            box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);

            &:hover{
                
              background-color: $clr-blue;
              border: 1px solid #2AB090;
              box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
             
            }

        }
    }

         

   

}

 
   
     //----------------------------------------//
     //----------Home page Ends Here-----------//


    
