
//------------Home.section------------------//




.banner{
    background:$clr-black;
    padding-bottom: 4rem ;
    padding-top: 4rem;
   

    &__wrapper{

        display: flex;
    align-items: center;


    img{

    margin-left: 17rem;

    }

    p{
      margin-top: 1rem;
      width: 492px;
      height: 48px;
      font-family: 'Inter';
    }

   a{

    margin-top: 1rem;
   }
   h1{
   margin-top: 3rem;
   font-size: 44px;
   line-height: 53px;
   font-family: 'Inter';
   font-weight: 800;
   
    
   }





    }

  

    img{
      
      margin-bottom: 7rem;
      
   
      }

      h1{
        color: $clr-white;
        margin-bottom: 1rem;
      
      }

      p{
       color: $clr-gray;
       margin-bottom: 2rem;

      }

      a{

     
       
       
     color: $clr-white;
     text-decoration: none;
     background:$clr-green;
    
     padding: 0.8rem 4rem;
     display: inline-block;
     border-radius: 0rem;
     border: 1px solid #62BA1B;
     text-transform: uppercase;
     color: $clr-black;
     box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
     &:hover{

      background-color: $clr-blue;
      border: 1px solid #2AB090;
      box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
     }
      }

      &__content{
        
        margin-bottom: 5rem;
      }



      h5{

        margin-bottom: 3rem;
      }
      &__logo{

        color: $clr-white;
        display: flex;
        margin-top: 1rem;

       .l1{
        border: 1px solid #1b1b1b;
        border-radius: 6px; /* 4px */
        width: 160px;
        height: 60px;
        margin-top: 5rem;
      
       &:hover{

        border: 5px solid #2AB090;
        cursor: pointer;
       
       }
       }

       .l2{
        border: 1px solid #1b1b1b;
        border-radius: 6px; /* 4px */
        width: 160px;
        height: 60px;
        margin-top: 5rem;
        &:hover{

          border: 5px solid #2AB090;
          cursor: pointer;
         
         }
      
      }

      .l3{
        border: 1px solid #1b1b1b;
        border-radius: 6px; /* 4px */
        width: 160px;
        height: 60px;
        margin-top: 5rem;
        &:hover{

          border: 5px solid #2AB090;
          cursor: pointer;
         
         }
      
      }

      .l4{

        border: 1px solid #1b1b1b;
        border-radius: 6px; /* 4px */
        width: 160px;
        height: 60px;
        margin-top: 5rem;
      
      }

     


      .l5{

        border: 1px solid #1b1b1b;
        border-radius: 6px; /* 4px */
        width: 160px;
        height: 60px;
        margin-top: 5rem;

        &:hover{

          border: 5px solid #2AB090;
          cursor: pointer;
         
         }

      
      
      }








      img{

       
      
      }

       .i5{

        margin-left: -10rem;
        margin-top: -1rem;

        
 
        
     
       }

       


       .i4{

        margin-left: -14rem;
        margin-top: -16rem;
     

 
       }

       .i3{

        margin-left: -27rem;
        margin-top: -16rem;
     
       }

       .i2{

        margin-left: -40.5rem;
        margin-top: -15.5rem;
     
       }

       .i1{

        margin-left: -53rem;
        margin-top: -15.5rem;
    
     
       }

     
   

      }

       
       
        }


        
       
        
        img{
            margin-top: 7rem;
           margin-left: -4;
          
          
           
        }

        
   
       
     

      .container{
        h5{
          color: $clr-gray;
        margin-bottom: -5rem;
        margin-left: 2rem;
        }
      }
    

      

.services{
    background:$clr-black;
    padding: 2rem 0;
    
    
         &__wrapper{
       text-align: center;

       h1{

        color: $clr-primary;
        margin-bottom: 4rem;
        font-size: 33px;
        line-height: 39.94px;
        font-weight: 400;
        font-family: 'Inter';
        font-style: normal;
       }

       p{
        color: $clr-primary;
        font-size: 15px;
        font-family: 'Inter';
        line-height: 24px;
        
       }

         }

         &__icon{

            margin-left: 1.5rem;
            display: flex;
           margin-top: 0rem;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 3rem;
          }
          
           &:hover{

            
           }
        
         }

 

.aboutme{
     background: $clr-black;
    padding: 4rem 0;

    .container{

        h1{

            margin-bottom: 8rem;
            text-align: center;
            color: $clr-primary;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;


        img{

            width: 23rem;
            margin-top: -2rem;
        }
    }

    &__content{

        h4{

            color: $clr-yellow;
            margin-bottom: 1rem;
        }

        p{

            color: $clr-white;
            margin-bottom: 4rem;
            font-family: 'Inter';
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            margin-top: 3rem;
        }

        a{
            
            
            text-decoration: none;
            background:$clr-green;
            padding: 0.8rem 2rem;
            display: inline-block;
            border-radius: 0rem;
           
            color: $clr-black;
            margin-left: 26rem;
            border: 1px solid #62BA1B;
            box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);

            &:hover{
                
              background-color: $clr-blue;
              border: 1px solid #2AB090;
              box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
             
            }

        }
    }

         

   

}



.testimonials{
  background: $clr-black;
  padding: 6rem 0;


  &__wrapper{
   
     h2{

      color: $clr-primary;
      margin-left: 30rem;
      font-size: 33px;
     }
  

    .mySlider{

      margin-top: -3rem;
   

      .t1{

       margin-left: 22rem;

       p{
        font-family: 'Inter';
        margin-left: 5rem;
        color: $clr-primary;
        font-weight: 400;
        text-align: justify;
        font-size: 16px;
        line-height: 19.36px;
        font-style: normal;
         width: 350px;
         margin-left: 3rem;

       }

       img{

        height: 450px;
        width: 450px;
        margin-bottom: 3rem;
       }

       h3{

        color: $clr-primary;
        font-size: 36px;
        margin-left: 7rem;
        margin-bottom: 2rem;
        font-family: 'Inter';
        margin-bottom: 2rem;
       }
      }

      .t2{
    

        p{
          font-family: 'Inter';
          margin-left: 5rem;
          color: $clr-primary;
          font-weight: 400;
          text-align: justify;
          font-size: 16px;
          line-height: 19.36px;
          font-style: normal;
           width: 350px;
           margin-left: 3rem;
  
         }
  
         img{
  
          height: 450px;
          width: 450px;
          margin-bottom: 3rem;
         }
  
         h3{
  
          color: $clr-primary;
          font-size: 36px;
          margin-left: 7rem;
          margin-bottom: 2rem;
          font-family: 'Inter';
          margin-bottom: 2rem;
         }

      }

      .t3{
        
        p{
          font-family: 'Inter';
          margin-left: 5rem;
          color: $clr-primary;
          font-weight: 400;
          text-align: justify;
          font-size: 16px;
          line-height: 19.36px;
          font-style: normal;
           width: 350px;
           margin-left: 3rem;
  
         }
  
         img{
  
          height: 450px;
          width: 450px;
          margin-bottom: 3rem;
         }
  
         h3{
  
          color: $clr-primary;
          font-size: 36px;
          margin-left: 7rem;
          margin-bottom: 2rem;
          font-family: 'Inter';
          margin-bottom: 2rem;
         }

      }
      .t4{

        p{
          font-family: 'Inter';
          margin-left: 5rem;
          color: $clr-primary;
          font-weight: 400;
          text-align: justify;
          font-size: 16px;
          line-height: 19.36px;
          font-style: normal;
           width: 350px;
           margin-left: 3rem;
  
         }
  
         img{
  
          height: 450px;
          width: 450px;
          margin-bottom: 3rem;
         }
  
         h3{
  
          color: $clr-primary;
          font-size: 36px;
          margin-left: 7rem;
          margin-bottom: 2rem;
          font-family: 'Inter';
          margin-bottom: 2rem;
         }


      }


 
     
   
 
    }

  }







}

 

.tns-controls {

  position: relative;
}

.tns-controls button:first-child{

  position: absolute;
  top:18rem;
   font-size: 5rem;
   z-index: 1;
   left: 0rem;
   color: $clr-primary;
   background: none;

}

.tns-controls button:last-child{
  font-size: 5rem;
   position: absolute;
   color: $clr-primary;
   background: none;
   right: 0;
   top: 18rem;
   z-index: 1;
   
}





     //----------------------------------------//
     //----------Home page Ends Here-----------//


    
