.skills{
background-color: #2b2b2b;

h2{

    color: $clr-primary;
    text-align: center;
    font-size: 2rem;
}
    &__content{

       display: flex;
        justify-content: space-between;


        .photoleft{

            margin-top: 5rem;
        }

        .photoright{

            margin-top: 5rem;

          .arrow{
          
         

          }
            
        }
    }
}

.personal{

   

padding: 12rem 0;
background-color: $clr-black;

h1{
    color: $clr-primary;
    font-size: 3rem;
}

    &__wrapper{

        display: flex;
    align-items: center;
    
    img{
     
        width: 23rem;
        margin-left: 13rem;
        margin-bottom: 13rem;
    }


    }


    &__content{

    

        .links{
           margin-left: 1rem;
            ul{
                display: flex;
                gap:1rem;

            }

            ul li i{

                color: $clr-primary;
                font-size: 2rem;
               margin-left: 3rem;
            }
           

        }
    }


}

.Hobbies{

padding: 6rem 0;
h1{

    color: $clr-primary;
    font-size: 3rem;
}
    &__wrapper{

      .lorem{

        color: $clr-primary;
      }

        .likes{

            ul {
            margin-left: 17rem; 
                display: flex;
                gap: 5rem;



           :nth-child(2){
          
               img{

                margin-top: 0.5rem;
               }

               p{

                margin-top: 1.5rem;
               }
            

           }

           :nth-child(4){

          img{

            margin-top: -0.5rem;
            margin-bottom: 2.5rem;
            width: 6rem;
          }

          p{

             margin-top: -1.5rem;
            
          }

            } 
    }

    ul li{
       
        :nth-child(2){
            color: $clr-white;
        }

    }



}
}
}


.education{

    padding: 4rem 0;

    h1{

        font-size: 3rem;
        color: $clr-primary;
    }

    &__wrapper{



        ul{

            display: flex;
           gap: 10rem;

           :nth-child(3){
           
            img{

                width: 17rem;
                 margin-top: -0.8rem;
              
            }

           }

       
           :nth-child(1){

           img{

            width: 19rem;
            height: 17rem;
            margin-top: -0.8rem;
           }
           }

           :nth-child(2){
             
            width: 17rem;
            height: 17rem;

           }
           
           

           p{

            color: $clr-white;
           }
        }

      
    }
}

.certificate{

    padding: 4rem 0;
    h1{

        color: $clr-primary;
        font-size: 3rem;
    }
 
   

    &__wrapper{
        
        ul{
         
            display: grid;
            grid-template-columns: 1fr 1fr;
            line-height: 2rem;
            gap: 3rem;
        }

         p{

            color: $clr-white;
         }

     

    }
  
}

.footer{
    background:$clr-dark;
    color: var(--gray);
    padding: 3rem 0 ;
    


    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $clr-white;
     

        ul{
            list-style: none;
            display: flex;
            gap: 0.8rem;
         

        }
        ul li a i{
   
         font-size: 1.5rem;
         color: $clr-white;
      }

      .links{

        display: flex;
        gap: 1rem;
      
        
      }
     
    }
     
    }  