 body{

    font-family: 'Inter';
 background-color: $clr-black;

 }
 
 .personalDetails{


    .container{

        @media (max-width: 780px) {
            .services__wrapper{
                 
                display: grid;
                grid-template-columns: 1fr ;
            }
        }
    
        padding: 4rem;
   
        h1{
            
            
            text-align: center;
            color: $clr-primary;
            font-style: normal;
            font-weight: 400;
             font-size:  70px; 
             line-height: 85px;
             margin-left: 11rem;
             
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            
    
        }

        

         
    }

    &__wrapper{
        padding: 6rem;

        @media (max-width: 780px) {
            .services__wrapper{
              display: grid;
                grid-template-columns: 1fr ;
            }
        }

        display: flex;
        gap: 22rem;


        .left-s{

            h2{
           
                color: $clr-primary;
                font-style: normal;
                font-weight: 700;
                 font-size:  57px; 
                 line-height: 70px;
                 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                 margin-bottom: 2rem;
                 margin-top: 5rem;
                 margin-left: 1.5rem;
    
            }
    
            p{
    
                
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                text-align: justify;
                color: #E0D9D9;
                width: 367px;
                height: 168px;
                font-family: 'Inter';
                margin-bottom: 6rem;
            }
    
            h4{
              
                
                border: 1px  solid $clr-primary;
                border-radius: 0px 0px;
                width: 12.5rem;
                padding: 10px;
                height: 30px;
                display: flex;
                margin-left: 1rem;
                background-color: $clr-primary;
                text-align: center;
                margin-bottom: 5rem;
                &:hover{

                    background-color: $clr-blue;
                    border: 1px solid #2AB090;
                    box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
                   }
               
            }
    
            a{
    
                margin-left: 3rem;
                margin-top: 5px;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                &:hover{
    
                    color: $clr-yellow;
                }
                 
            }

        }


        .links ul li{
            color: $clr-primary;
            font-size: 2rem;

        }

        .links ul li:hover{
            color: $clr-yellow;
           

        }


       .links ul {
            display: flex;
            gap: 3rem;

        }
        
      
    }

    .right-s{

        img{

            width: 469px;
            height: 469px;
            margin-top: 4rem;
        }
    }

 }
 

 .skills{

   .container{

    h2{
            text-align: center;
        color: $clr-primary;
        font-style: normal;
        font-weight: 400;
         font-size:  70px; 
         line-height: 85px;
      margin-left: 12.5rem;

    }


   }
   &__wrapper{

   display: grid;
   grid-template-columns:  1fr 1fr 1fr 1fr;
   margin-left: 12.5rem;
justify-content: space-between;
   
  

   .skill1{
   
    img{
      margin-bottom: 1rem;
      margin-right: 3rem;
      width: 114;
      height: 110;
      border: 2px solid $clr-dark;
      border-radius: 50%;
      border-width: 20px;
      background: $clr-dark;
    }
    p{

       color: $clr-primary;
    }
  
   }

.skill2{
   
    img{
      margin-bottom: 1rem;
      margin-left:2rem ;
      width: 114;
      height: 110;
      border: 2px solid $clr-dark;
      border-radius: 50%;
      border-width: 20px;
      background: $clr-dark;
      
    }
    p{

       color: $clr-primary;
       margin-left: 2rem;
    }
  

}

.skill3{
   
    img{
      margin-bottom: 1rem;
      margin-left:3.1rem ;
      width: 114;
      height: 110;
      border: 2px solid $clr-dark;
      border-radius: 50%;
      border-width: 20px;
      background: $clr-dark;
    }
    p{

       color: $clr-primary;
       margin-left:2rem ;
    }
  

}

.skill4{
   
    img{
         width: 114;
      height: 110;
      margin-bottom: 0rem;
      margin-left:3rem ;
      border: 2px solid $clr-dark;
      border-radius: 50%;
      border-width: 20px;
      background: $clr-dark;
    }
    p{

       color: $clr-primary;
       margin-left: 3.7rem;
       margin-top: 1rem;
    }
  

}


.skill5{
   
    img{
        // width: 2rem;
        // height: 9rem;
      margin-bottom: 2rem;
   
 
       
     
     
      
     
    }
    p{

       color: $clr-primary;
       margin-left: -2px;
     ;
    }
  

}


.skill6{
   
    img{
        width: 114;
        height: 110;
        margin-bottom: 1rem;
        margin-left:1.4rem ;
        border: 2px solid $clr-dark;
        border-radius: 50%;
        border-width: 8px;
        background: $clr-dark;

      background: $clr-dark;
    
      }
      p{
  
         color: $clr-primary;
         margin-left: 1.5rem;
      }
    
  

}


.skill7{
   
    img{
        margin-bottom: 1.9rem;
        margin-left:3rem ;
        border: 2px solid $clr-dark;
      border-radius: 50%;
      border-width: 20px;
      background: $clr-dark;
      }
      p{
  
         color: $clr-primary;
         margin-left: 3.7rem;
      }
    
  

}

.skill8{
   
    img{
         margin-bottom: 1.2rem;
        margin-left:3rem ;
        border: 2px solid $clr-dark;
      border-radius: 50%;
      border-width: 20px;
      background: $clr-dark;
      }
      p{
  
         color: $clr-primary;
         margin-left: 3.7rem;
      }
    
  

}




   }


 }


 .certificate{
padding: 8rem 0;
margin-left: 12.5rem;

    .container{

        h1{
           text-align: center;
           margin-left: 3rem;
           color: $clr-primary;
           font-size:4rem ;
    
        }

     

    }

    &__wrapper{

        display: grid;
        grid-template-columns: 1fr 1fr  ;
        gap: 6rem;
       margin-left: -5rem;

        

        p{

            color: $clr-white;
        
        }
      .c1{

        img{
            width: 40rem;
            height: 26rem;
            margin-bottom: 3rem;
        }
           
        p{

        
        margin-left: 14.5rem;

        }
      }

      .c2{

        img{
            margin-bottom: 2.5rem;
            width: 40rem;
            height: 26rem;
        }
           
        p{

        
        margin-left: 14.5rem;

        }
      }


 



    }
    
 }

 .projects{

    padding: 8rem 0;
      margin-left: 5rem;

.container{


    h1{
            
            
        text-align: center;
        color: $clr-primary;
        font-style: normal;
        font-weight: 400;
         font-size:  70px; 
         line-height: 85px;
         margin-left: 12.7rem;
         margin-bottom: 7rem;
         
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        

    }



}

&__wrapper{
margin-left: 3rem;
display: grid;
grid-template-columns: 1fr 1fr;
gap:20rem;



.pr1{

p{
    text-align: center;
    color: $clr-primary;
    margin-top: 2rem;
 margin-right: 5rem;
 font-size:  25px;
 margin-left: 4rem; 
}

.desc{

    p{
        color: #9c9c9c;
        margin-bottom: 2rem;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.1px;
        margin-left: 3rem;
            }
    
}
a{
    text-decoration: none;
    background:$clr-green;
    padding: 0.8rem 2rem;
    display: inline-block;
    border-radius: 0rem;
   
    color: $clr-black;
    margin-left: 26rem;
    border: 1px solid #62BA1B;
    box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
    margin-left: 9rem;


    &:hover{

        background-color: $clr-blue;
        border: 1px solid #2AB090;
        box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
       }
    
}

}


.pr2{

    p{
        text-align: center;
        color: $clr-primary;
        margin-top: 2rem;
     margin-right: 5rem;
     font-size:  25px;
     margin-left: 4rem; 
    }

    .desc{

        p{
            color: #9c9c9c;
            margin-bottom: 2rem;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.1px;
            margin-left: 3rem;
                }
    }

    a{
        text-decoration: none;
        background:$clr-green;
        padding: 0.8rem 2rem;
        display: inline-block;
        border-radius: 0rem;
       
        color: $clr-black;
        margin-left: 26rem;
        border: 1px solid #62BA1B;
        box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
        margin-left: 9.3rem;


        &:hover{

            background-color: $clr-blue;
            border: 1px solid #2AB090;
            box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
           }
        
    }
    
    }

    .pr3{

        p{
            text-align: center;
            color: $clr-primary;
            margin-top: 2rem;
         margin-right: 5rem;
         font-size:  25px;
         margin-left: 4rem; 
        }
    
        .desc{
    
            p{
                color: #9c9c9c;
                margin-bottom: 2rem;
                font-family: Inter;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.1px;
                margin-left: 3rem;
                    }
        }
    
        a{
            text-decoration: none;
            background:$clr-green;
            padding: 0.8rem 2rem;
            display: inline-block;
            border-radius: 0rem;
           
            color: $clr-black;
            margin-left: 26rem;
            border: 1px solid #62BA1B;
            box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
            margin-left: 9.3rem;


            &:hover{

                background-color: $clr-blue;
                border: 1px solid #2AB090;
                box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
               }
            
        }
        
        }

        .pr4{

            p{
                text-align: center;
                color: $clr-primary;
                margin-top: 2rem;
             margin-right: 5rem;
             font-size:  25px;
             margin-left: 4rem; 
            }
        
            .desc{
        
                p{
                    color: #9c9c9c;
                    margin-bottom: 2rem;
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.1px;
                    margin-left: 3rem;
                        }
            }
        
            a{
                text-decoration: none;
                background:$clr-green;
                padding: 0.8rem 2rem;
                display: inline-block;
                border-radius: 0rem;
               
                color: $clr-black;
                margin-left: 26rem;
                border: 1px solid #62BA1B;
                box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
                margin-left: 9.3rem;

                &:hover{

                    background-color: $clr-blue;
                    border: 1px solid #2AB090;
                    box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
                   }
                
            }
            
            }

            .pr5{

                p{
                    text-align: center;
                    color: $clr-primary;
                    margin-top: 2rem;
                 margin-right: 5rem;
                 font-size:  25px;
                 margin-left: 4rem; 
                }
            
                .desc{
            
                    p{
                        color: #9c9c9c;
                        margin-bottom: 2rem;
                        font-family: Inter;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0.1px;
                        margin-left: 3rem;
                            }
                }
            
                a{
                    text-decoration: none;
                    background:$clr-green;
                    padding: 0.8rem 2rem;
                    display: inline-block;
                    border-radius: 0rem;
                   
                    color: $clr-black;
                    margin-left: 26rem;
                    border: 1px solid #62BA1B;
                    box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
                    margin-left: 9.3rem;

                    &:hover{

                        background-color: $clr-blue;
                        border: 1px solid #2AB090;
                        box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
                       }
                   
                    
                }
              
                
                }

                .pr6{

                    p{
                        text-align: center;
                        color: $clr-primary;
                        margin-top: 2rem;
                     margin-right: 5rem;
                     font-size:  25px;
                     margin-left: 4rem; 
                    }
                
                    .desc{
                
                        p{
                            color: #9c9c9c;
                            margin-bottom: 2rem;
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: 0.1px;
                            margin-left: 3rem;
                                }
                    }
                
                    a{
                        text-decoration: none;
                        background:$clr-green;
                        padding: 0.8rem 2rem;
                        display: inline-block;
                        border-radius: 0rem;
                       
                        color: $clr-black;
                        margin-left: 26rem;
                        border: 1px solid #62BA1B;
                        box-shadow: 0px 8px 13px rgba(138, 233, 60, 0.5);
                        margin-left: 9.3rem;


                        &:hover{

                            background-color: $clr-blue;
                            border: 1px solid #2AB090;
                            box-shadow: 0px 8px 30px rgba(29, 187, 250, 0.5);
                           }
                        
                    }
                    
                    }

}





 }